canvas{

	background-color:blue;
	/*position:absolute;*/
	/*z-index: 0;*/
	
}

#hide{
width:200px;
padding-top:25px;
padding-bottom:25px;
border:black;
position:absolute;
top: 197px; left: 180px;
background-color: white;
padding-right: 25px;
padding-left:25px;
text-align: center;

}

.hidde{

	display:none;
}